/* RegisterForm.css */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 100px;
  max-width: 400px;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 2px;
  margin-top: 1px;
  color: #200bff;
}

.register-form label {
  display: block;
  margin-bottom: 6px;
  color: #555;
  font-weight: 500;
}

.register-form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.3s ease;
}

.register-form input:focus {
  border-color: #007bff;
  outline: none;
}

.register-form button {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #0056b3;
}

.register-form p {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}
